#home.container
  .books
    -Book.all.each do |book|
      = book.title
      = "by #{book.author.first_name} #{book.author.last_name}"
      = book.description
      = "$#{book.price}"
  = "Welcome to our amazing Bookstore! Choose anything you wish, we`ll ship it anywhere!"